<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Herr der Ringe LCG</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Finde heraus welcher Teil dir aus der Herr der Ringe LCG Reihe noch fehlt">
        <meta name="keywords" content="BGG,Boardgames,Herr der Ringe,LCG,HDR,Lord of the rings,LOTR">
        <meta name="author" content="Jens Giehl">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
        <style>
            img.grey {
                -webkit-filter: grayscale(100%); /* Safari */
                filter: grayscale(100%);
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div class="container"v-for="item in items">
                <div class="row">
                     <!--disabled as class-->
                    <div class="col s6 m3 l3 xl3 center-align">
                        <p><img :src="item.thumbnail" alt="" class="responsive-img z-depth-3"></p>
                        <p><a class="waves-effect waves-light btn green z-depth-3" :href="item.priceUrl" target="_blank" style="display:block">Kaufen</a></p>
                        <p><a class="waves-effect waves-light btn green z-depth-3" :href="item.url" target="_blank" style="display:block">BGG ({{item.rating}})</a></p>
                    </div>
                    <div class="col s6 m3 l3 xl3 center-align" v-for="subItem in item.expansions">
                        <p><img :src="subItem.thumbnail" alt="" class="responsive-img z-depth-3"></p>
                        <p><a class="waves-effect waves-light btn green z-depth-3" :href="subItem.priceUrl" target="_blank" style="display:block">Kaufen</a></p>
                        <p><a class="waves-effect waves-light btn green z-depth-3" :href="subItem.url" target="_blank" style="display:block">BGG ({{item.rating}})</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>

</html>